<h1>Crear articulo</h1>


<form id="create_posts" method="get" action="/post/create">

    <div class="form-group">
        <label for="title">Titulo</label>
        <input name="title" type="text" class="form-control" id="title">
    </div>

    <div class="form-group">
        <label for="image_url">Imagen</label>
        <input name="image_url" type="text" class="form-control">
    </div>

    <div class="form-group">
        <label for="content">Contenido</label>
        <textarea name="content" class="form-control"> </textarea>
    </div>

    <button type="submit" class="btn btn-primary">Enviar</button>
</form>